/* Simple code that makes my life easier */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the header */
.navigation {
        background-color: #141414; /* Sets the background color to Charcoal */
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 25px;
        letter-spacing: 3px; 
        text-align: center;
        padding: 35px; /* Adds padding to the navigation bar */
        display: flex;
        justify-content: space-between; /* Moves "KT" to the left corner and centers the topics */
        align-items: center; /* Centers the content vertically */
}

.nameHD {
        font-size: 35px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
}

.nameHD::after {
        margin: 5px;
        content: "/>";
        color: #ffe715;
        display: inline;
}

.navigation .active {
        font-weight: bold;
        color: white;
}

.navigation a {
        text-decoration: none; /* Removes underlines from links */
        margin: 0 10px; /* Controls the space between the Topics */
        color: hsla(0, 0%, 100%, 0.75);
}

.navigation a::after {
        margin: 5px;
        content: "/>";
        color: #ffe715;
        display: inline;
        .active {
                font-weight: bold;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
                     /* Customizing the main page */
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
.introduction { 
        height: 100vh; /* Set the height to fill the entire viewport height */
        background-image: url('mountains-bgp.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        padding-top: 180px;
        padding-left: 350px;
        padding-bottom: 270px;
        text-align: left;
        color: white;
        .hello {
                padding-top: 450px;
        }
        .hello2 {
                padding-top: 35px;
        }
        .name {
                animation: lr-content 360ms;
                animation-delay: 1890ms;
                animation-fill-mode: forwards;
                opacity: 0;
                color:#ffe715;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the projects section */

.projects {
        background-color: #141414;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 350px;
        padding-top: 75px;
        padding-bottom: 145px;
        color: white;
        .projectHeader {
                font-size: 35px;
                padding-bottom: 25px;
        }
        .projectHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }
}

.projects-container {
        display: flex;
        justify-content: space-between;
        margin-right: 350px;

        .project-box {
                width: 575px;
                height: 500px;
                position: relative;
                overflow: hidden;
        }
         .project-box img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                flex: 1;
        } 
        .project-box:last-child {
                margin-right: 0; /* Remove right margin for the last box */
            }
        .project-details {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s;
        }   
        .project-box:hover .project-details {
                opacity: 1;
        }
}

.project-button {
        margin-top: 50px;
        padding: 10px;
        font-size: 30px;
        font-family:'Roboto Condensed', 'Lato', Arial, sans-serif!important;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the about section */
.aboutBio {
        position: relative;
}

.about {
        background-color:#282828;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 700;
        padding-top: 35px;
        padding-left: 350px;
        padding-bottom: 145px;
        text-align: left;
        color: white;
        .aboutHeader {
                padding-bottom: 30px;
                font-size: 35px;
        }
        .aboutHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }

        /* About me section text */
        .aboutBioEmpty {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioT {
                color: #282828;
                margin-bottom: 7px;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the contact section */

.contact {
        background-color: #141414;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 350px;
        padding-top: 75px;
        padding-bottom: 25px;
        color: white;
        .contactHeader {
                font-size: 35px;
                padding-bottom: 25px;
        }
        .contactHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }
        .emailHeader {
                font-size: 30px;
                padding-top: 34px;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - - -- - - - - - - */
                     /* Customizing the transformation border */
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - -- - - - - - -- -  */
.prout-border-top {
        background: linear-gradient(to bottom, #141414, #1b1b1b, #242424, #252525);
        height: 100px; /* Adjust the height as needed */
}

.prout-border-bottom {
        background: linear-gradient(to top, #141414, #1b1b1b, #242424, #252525);
        height: 100px; /* Adjust the height as needed */
}
