/* Simple code that makes my life easier */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Adjust the z-index value as needed */
}

.sticky + .content {
        padding-top: 60px;
}

:root {
        --yellow: #ffe715;
        --gray: #141414;
        --lightgray: #abb29e;
        --blue: #15222E;
        --babyblue: #56b6c2;
        --lightblue: #169fff;
        --pink: #a478dd;
        --beige: #e5c062;
        --red: #e05345;
        --green: #98a446;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the header */
.navigation {
        background-color: var(--gray); /* Sets the background color to Charcoal */
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 18px;
        letter-spacing: 3px; 
        text-align: center;
        padding: 35px; /* Adds padding to the navigation bar */
        display: flex;
        justify-content: space-between; /* Moves "KT" to the left corner and centers the topics */
        align-items: center; /* Centers the content vertically */
}

.nameHD {
        font-size: 35px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
}

.nameHD::after {
        margin: 5px;
        content: "/>";
        color: var(--yellow);
        display: inline;
}

.navigation .active {
        font-weight: bold;
        color: white;
}

.navigation a {
        text-decoration: none; /* Removes underlines from links */
        margin: 0 10px; /* Controls the space between the Topics */
        color: hsla(0, 0%, 100%, 0.75);
}

.navigation a::after {
        margin: 5px;
        content: "/>";
        color: var(--yellow);
        display: inline;
}

.active {
        font-weight: bold;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
                     /* Customizing the main page */
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
.introduction { 
        height: 100vh; /* Set the height to fill the entire viewport height */
        background-image: url('mountains-bgp.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        padding-top: 180px;
        padding-left: 350px;
        padding-bottom: 270px;
        text-align: left;
        color: white;
        .hello {
                padding-top: 450px;
        }
        .hello2 {
                padding-top: 35px;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the projects section */

.projects {
        background-color: var(--gray);
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 350px;
        padding-top: 75px;
        padding-bottom: 145px;
        color: white;
        .projectHeader {
                font-size: 35px;
                padding-bottom: 25px;
        }
        .projectHeader::after {
                margin-left: 12px;
                content: "/>";
                color: var(--yellow);
        }
}

.projects-container {
        display: flex;
        justify-content: space-between;
        margin-right: 350px;

        .project-box {
                width: 375px;
                height: 300px;
                position: relative;
                overflow: hidden;
        }
         .project-box img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                flex: 1;
        } 
        .project-box:last-child {
                margin-right: 0; /* Remove right margin for the last box */
            }
        .project-details {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s;
        }   
        .project-box:hover .project-details {
                opacity: 1;
        }
}

.project-button {
        margin-top: 50px;
        padding: 10px;
        font-size: 18px;
        font-family:'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        background-color: var(--gray);
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the about section */
.aboutBio {
        position: relative;
}

.about {
        background-color:var(--blue);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 700;
        padding-top: 35px;
        padding-left: 350px;
        padding-bottom: 145px;
        text-align: left;
        color: white;
        .aboutHeader {
                padding-bottom: 30px;
                font-size: 35px;
        }
        .aboutHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }
        /* About me section text */
        .aboutBioEmpty {
                position: absolute;
                color:#ffe815;
                left: -80px;
                margin-top: 2px;
        }
        .aboutBioT {
                color: #15222E;
                margin-bottom: 7px;
        }
}

.prout-border-top {
        background: linear-gradient(to bottom, var(--gray),#121316, #13181C, #141F21, var(--blue));
        height: 100px; /* Adjust the height as needed */
}

.prout-border-bottom {
        background: linear-gradient(to top, var(--gray),#121316, #13181C, #141F21, var(--blue));
        height: 100px; /* Adjust the height as needed */
}


/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the contact section */

.contact {
        background-color: var(--gray);
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 350px;
        padding-top: 75px;
        padding-bottom: 75px;
        color: white;
        .contactHeader {
                font-size: 30px;
                padding-top: 50px;
                padding-bottom: 25px;
        }
        .contactHeader::after {
                margin-left: 12px;
                content: "/>";
                color: var(--yellow);
        }
        .contactBio {
                font-size: 25px;
                padding-bottom: 50px;
        }
        .form-group {
                margin-top: 25px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                font-size: 25px;
        }
}
    
.contact form {
        max-width: 800px;
        display: flex;
        flex-direction: column;
}
    
.contact label {
        font-size: 15px;
        margin-bottom: 8px;
        padding-top: 20px;
}
    
.contact input, textarea {
        padding: 10px;
        margin-bottom: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
}
    
.contact button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
}

.contact .socialsHeader {
        padding-top: 50px;
        font-size: 25px;
}

.contact .discord-logo {
    padding-top: 20px;
    width: 70px;
    height: 75px;
}

.contact .github-logo {
    padding-top: 20px;
    margin-left: 30px;
    width: 60px;
    height: 80px;
}

.contact .discord-name {
        display: block;
        margin-top: 5px; 
        margin-left: -1.5px;
}
    

    
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Animation keyframes */