/* Simple code that makes my life easier */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the header */
.navigation {
        background-color: #101920; /* Sets the background color to Charcoal */
        font-family:Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 3px; 
        text-align: center;
        padding: 35px; /* Adds padding to the navigation bar */
        display: flex;
        justify-content: space-between; /* Moves "KT" to the left corner and centers the topics */
        align-items: center; /* Centers the content vertically */
}

.nameHD {
        font-size: 35px;
        font-family:Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
}

.nameHD::after {
        margin: 5px;
        content: "/>";
        color: #ffe715;
        display: inline;
}

.navigation .active {
        font-weight: bold;
        color: white;
}

.navigation a {
        text-decoration: none; /* Removes underlines from links */
        margin: 0 10px; /* Controls the space between the Topics */
        color: hsla(0, 0%, 100%, 0.75);
}

.navigation a::after {
        margin: 5px;
        content: "/>";
        color: #ffe715;
        display: inline;
        .active {
                font-weight: bold;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
                     /* Customizing the main page */
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
.introduction { 
        background-color: #101920;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        font-weight: 700;
        padding-top: 180px;
        padding-left: 200px;
        padding-bottom: 145px;
        text-align: left;
        color: white;
        .hello {
                padding-bottom: 35px;
        }
        .name {
                animation: lr-content 360ms;
                animation-delay: 1890ms;
                animation-fill-mode: forwards;
                opacity: 0;
                color:#ffe715;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the projects section */

.projects {
        background-color: #101920;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 200px;
        padding-top: 75px;
        padding-bottom: 145px;
        color: white;
        .projectHeader {
                font-size: 35px;
                padding-bottom: 25px;
        }
        .projectHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the about section */
.aboutBio {
        position: relative;
}

.about {
        background-color:#101920;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 700;
        padding-top: 35px;
        padding-left: 200px;
        padding-bottom: 145px;
        text-align: left;
        color: white;
        .aboutHeader {
                padding-bottom: 30px;
                font-size: 35px;
        }
        .aboutHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }

        /* About me section text */
        .aboutBioPrefix11 {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioText11 {
                margin-bottom: 7px;
        }
        .aboutBioPrefix12 {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioText12 {
                margin-bottom: 7px;
        }
        .aboutBioEmpty {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioEmptyT {
                color:#10192011;
                margin-bottom: 7px;
        }
        .aboutBioPrefix21 {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioText21 {
                margin-bottom: 7px;
        }
        .aboutBioPrefix22 {
                position: absolute;
                color:#ffe815;
                left: -60px;
        }
        .aboutBioText22 {
                margin-bottom: 7px;
        }
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Customizing the contact section */

.contact {
        background-color: #101920;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 200px;
        padding-top: 75px;
        padding-bottom: 25px;
        color: white;
        .contactHeader {
                font-size: 35px;
                padding-bottom: 25px;
        }
        .contactHeader::after {
                margin-left: 12px;
                content: "/>";
                color: #ffe715;
        }
        .emailHeader {
                font-size: 30px;
                padding-top: 34px;
        }
}

